
    <!-- FAQs section-->
    <section class="container">
        <hr class="col-3 col-md-2 mb-5">
            <h2 class="text-center pb-3">Frequently Asked Questions</h2>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>How much is an eLandline number?</strong>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    It's only £11 a month. It comes with lots of free features.                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>I already have a landline number, can I transfer it to eLandline?</strong>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes you can transfer it to us. Just place an order for a new number, then email us the number you'd like to transfer and we'll begin the transfer process. You'll be asked to upload your proof of ownership (recent bill), proof of address, and proof of identity to enable us to transfer it.                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong> Do you have a landline number for my area code?</strong>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we have 100% UK coverage, so you can get a number for any town or city.                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong> Can I get a national number instead of a local number?</strong>
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we also provide 0330 national numbers which are the same price and are the same as local rate number to call. Just select 0330 in the area code dropdown when you order.                </div>
                </div>
            </div>            
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <strong> Can I get numbers for multiple areas and divert to the same mobile?</strong>
                </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, it's £11 a month per landline number.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <strong> Do you charge for diverting calls to my mobile?</strong>
                </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No. We don't charge for diverting calls, it's all free and unlimited. All you pay is £11 a month.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <strong> Is it cheaper for callers to call me?</strong>
                </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, it will be cheaper for callers to call your landline number instead of your mobile number.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <strong> Can I cancel at any time for free?</strong>
                </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, you can cancel at any time for free. We don't tie you into any long term contracts. Click the 'Cancel' link in your Control Panel to cancel or email us.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    <strong> Can I choose my eLandline number?</strong>
                </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can choose the telephone area code for the town or city you'd like. The rest of the digits are assigned automatically by our system so we are unable to choose them.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    <strong> How do I answer calls to my eLandline number?</strong>
                </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    All calls are automatically diverted to your mobile phone number for free so you simply answer it on your mobile.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    <strong> Can I change the mobile number(s) I divert to at any time?</strong>
                </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, you can instantly change it in your Control Panel.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    <strong>How does the separate WhatsApp work?</strong>
                </button>
                </h2>
                <div id="collapse13" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You set up the normal WhatsApp using your personal mobile number, and set up a separate WhatsApp made for businesses using your eLandline number. We send you instructions with download links in your welcome email after you order.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                    <strong>Can I divert calls to multiple mobiles?</strong>
                </button>
                </h2>
                <div id="collapse14" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes just add the mobile numbers you'd like to divert to in your Control Panel.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                    <strong>Can I see the caller's number and also know it's a business call?</strong>
                </button>
                </h2>
                <div id="collapse15" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, by default you'll see your landline number on your mobile when you receive a call so you know it's a business call. You can save your landline number in your phone as a new contact and give it a name (e.g. "Business Call" or your business name) that way whenever you get a call from your landline, that is the name that would show up on your phone.                </div>
                </div>
            </div>   
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                    <strong>How quickly will I get my eLandline number?</strong>
                </button>
                </h2>
                <div id="collapse16" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Your new number is automatically emailed to you immediately after you order.                </div>
                </div>
            </div> 
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                    <strong>Can I make calls with the eLandline number?</strong>
                </button>
                </h2>
                <div id="collapse17" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    If you'd like to make calls such that your Air Landline number is displayed to your customer when they receive your call, you can use our App add-on.                </div>
                </div>
            </div> 
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                    <strong>Can I provide for example "Press 1 for Sales, Press 2 for Support etc" options to callers?</strong>
                </button>
                </h2>
                <div id="collapse18" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we have a Switchboard add-on for giving options that's £4.99+VAT a month.                </div>
                </div>
            </div> 
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                    <strong>Can I leave you and still keep my eLandline number?</strong>
                </button>
                </h2>
                <div id="collapse19" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, you can leave us and transfer your number to a new provider (e.g. BT).
                </div>
                </div>
            </div> 
            </div>
        </hr>
    </section>