
<div class="container py-4 py-lg-6">
    <div class="row g-4 g-xxl-5">
        <div class="col-lg-4 text-center">
            <div class="lc-block bg-dark text-light card h-100 px-xl-3 border-0 py-lg-4 " style="" id="">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="lc-block mb-4">
                            <div editable="rich">
                                <h2 class="fw-bolder h4">Starter Plan</h2>
                            </div>
                        </div>
                        <div class="lc-block mb-4 bg-light text-dark rounded py-3 w-75 mx-auto">
                            <h3 editable="inline" class="fw-bolder d-inline small">$</h3>
                            <h3 editable="inline" class="fw-bolder d-inline rfs-30 ls-n2">19</h3>
                            <span class="opacity-50" editable="inline">/ Year</span>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>

                        <div class="lc-block ">
                            <div editable="rich">
                                <p class="text-decoration-line-through">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p class="text-decoration-line-through">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>







                    </div>
                    <div class="lc-block d-grid">
                        <a class="btn btn-primary" href="#" role="button">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="lc-block card h-100 px-xl-3 border-0 bg-light py-lg-4 position-relative" style="">
                <div class="card-body d-flex flex-column justify-content-between">

                    <div class="lc-block position-absolute top-0 mt-2 end-0 me-3">
                        <h3 editable="inline" class="badge bg-dark text-light ls-3">Popular</h3>
                    </div>
                    <div>
                        <div class="lc-block mb-4">
                            <div editable="rich">
                                <h2 class="fw-bolder h4">Pro Plan</h2>
                            </div>
                        </div>
                        <div class="lc-block mb-4 bg-dark text-light rounded py-3 w-75 mx-auto">
                            <h3 editable="inline" class="fw-bolder d-inline small">$</h3>
                            <h3 editable="inline" class="fw-bolder d-inline rfs-30 ls-n2">59</h3>
                            <span class="opacity-50" editable="inline">/ Year</span>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p class="text-decoration-line-through">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>







                    </div>
                    <div class="lc-block d-grid">
                        <a class="btn btn-primary" href="#" role="button">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <div class="lc-block bg-dark text-light card h-100 px-xl-3 border-0 py-lg-4 " style="" id="">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="lc-block mb-4">
                            <div editable="rich">
                                <h2 class="fw-bolder h4">Starter Plan</h2>
                            </div>
                        </div>
                        <div class="lc-block mb-4 bg-light text-dark rounded py-3 w-75 mx-auto">
                            <h3 editable="inline" class="fw-bolder d-inline small">$</h3>
                            <h3 editable="inline" class="fw-bolder d-inline rfs-30 ls-n2">129</h3>
                            <span class="opacity-50" editable="inline">/ Year</span>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>
                        <div class="lc-block ">
                            <div editable="rich">
                                <p> Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="lc-block pb-2">
                                <hr class="w-25 mx-auto border-3">
                            </div>
                        </div>




                    </div>
                    <div class="lc-block d-grid">
                        <a class="btn btn-primary" href="#" role="button">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
