<div class="container py-4 py-lg-6">
    <div class="row">
        <div class="col-lg-4 mx-auto text-center"> <!-- Use mx-auto for horizontal centering -->
            <div class="card card-header h-100 px-xl-3 rounded-4 py-lg-4 position-relative">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="lc-block position-absolute top-0 mt-2 end-0 me-3">
                        <h3 class="badge bg-dark text-light ls-3">Popular</h3>
                    </div>
                    <div>
                        <div class="lc-block mb-4">
                            <h2 class="fw-bolder h4">Unlimited</h2>
                        </div>
                        <div class="lc-block mb-4 bg-dark text-light rounded py-3 w-75 mx-auto">
                            <h3 class="fw-bolder d-inline small">$</h3>
                            <h3 class="fw-bolder d-inline rfs-30 ls-n2">59</h3>
                            <span class="opacity-50">/ Year</span>
                        </div>
                        <div class="lc-block">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="lc-block">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="lc-block">
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="lc-block">
                            <p class="text-decoration-line-through">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                    <div class="lc-block d-grid">
                        <a class="btn btn-primary" href="#" role="button">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
